.icons {
  position: absolute;
  top: 1.25rem;   /* 20px */
  left: 1.25rem;  /* 20px */
  
}

.desktop-icon {
  width: 5rem;    /* 80px */
  height: 5.625rem; /* 90px */
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.desktop-icon img {
  width: 3rem;    /* 48px */
  pointer-events: none;
  cursor: url('/public/cursors/harrow.cur'), pointer;
}

.desktop-icon p {
  font-size: 0.75rem; /* 12px */
  color: white;
  text-align: center;
  pointer-events: none;
}
