*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: url('/cursors/default_arrow.cur'), auto;
}
html,body,#root{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-image: url('/xpbackground.jpg');
    background-size: cover;
    background-position: center;
}